In [ ]:
#!pip install geojson

In [ ]:
#!pip install area

In [1]:
import pandas as pd
import numpy as np
import os
import json
from area import area

# Data Cleansing

In [2]:
#read Toronto Covid case count per neighborhood into pandas dataframe
raw = pd.read_csv('COVID-19_Neighbour.csv')

In [3]:
raw.columns=['ID', 'Neighborhood', 'Rate_per_100k', 'Case']

In [4]:
raw=raw.sort_values('ID')

In [5]:
raw=raw.dropna()

In [6]:
raw['ID']=raw['ID'].astype('int')

In [7]:
raw

     ID                       Neighborhood  Rate_per_100k  Case
76    1             West Humber-Clairville    4385.806916  1461
66    2  Mount Olive-Silverstone-Jamestown    5192.085938  1711
88    3       Thistletown-Beaumond Heights    5347.490347   554
63    4                    Rexdale-Kipling    3172.191091   334
54    5                   Elms-Old Rexdale    2887.055838   273
..  ...                                ...            ...   ...
75  136                          West Hill    2007.885514   550
8   137                             Woburn    2989.623259  1599
0   138                      Eglinton East    2493.853179   568
91  139                Scarborough Village    3779.000239   632
41  140                          Guildwood    2531.007361   251

[140 rows x 4 columns]

In [8]:
cases=raw.set_index('ID')
cases

                          Neighborhood  Rate_per_100k  Case
ID
1               West Humber-Clairville    4385.806916  1461
2    Mount Olive-Silverstone-Jamestown    5192.085938  1711
3         Thistletown-Beaumond Heights    5347.490347   554
4                      Rexdale-Kipling    3172.191091   334
5                     Elms-Old Rexdale    2887.055838   273
..                                 ...            ...   ...
136                          West Hill    2007.885514   550
137                             Woburn    2989.623259  1599
138                      Eglinton East    2493.853179   568
139                Scarborough Village    3779.000239   632
140                          Guildwood    2531.007361   251

[140 rows x 3 columns]

In [9]:
cases.dtypes

Neighborhood      object
Rate_per_100k    float64
Case               int64
dtype: object

In [10]:
#NB_raw = pd.read_csv('Neighbourhoods.csv')
with open ('Neighbourhoods.geojson') as f:
    NB_raw= json.load(f)

In [11]:
NB=pd.DataFrame(columns=['AREA_SHORT_CODE','AREA_NAME', 'geometry'])
frames=[pd.DataFrame([[feature['properties']['AREA_SHORT_CODE'], feature['properties']['AREA_NAME'], feature['geometry']['coordinates'][0]]], columns=['ID','AREA_NAME', 'geometry']) for feature in NB_raw['features']]
NB=pd.concat(frames)
NB=NB.sort_values('ID').set_index('ID')

In [12]:
obj ={'type':'Polygon','coordinates': [NB['geometry'][1]]}

area(obj)

30169238.369793877

In [13]:
NB.head()

,AREA_NAME,geometry
ID,,
1,West Humber-Clairville (1),"[[-79.55235701287411, 43.7094692811074], [-79...."
2,Mount Olive-Silverstone-Jamestown (2),"[[-79.6033810657499, 43.7578610616191], [-79.6..."
3,Thistletown-Beaumond Heights (3),"[[-79.5775147918291, 43.7338354191899], [-79.5..."
4,Rexdale-Kipling (4),"[[-79.5551162536014, 43.7151024596992], [-79.5..."
5,Elms-Old Rexdale (5),"[[-79.5551162536014, 43.7151024596992], [-79.5..."

In [14]:
temp_ll=[]
for i in NB['geometry']:
    temp=pd.DataFrame(i)
    #print([temp.mean()[0],temp.mean()[1]])
    obj ={'type':'Polygon','coordinates': [i]}
    temp_ll.append(pd.DataFrame([[temp.mean()[0],temp.mean()[1], area(obj)]]))
ll=pd.concat(temp_ll, ignore_index=True)
ll.columns=['LONGITUDE', 'LATITUDE', 'AREA_M2']
ll.index +=1

In [15]:
NB_LL=NB.join(ll)
NB_LL.head()

,AREA_NAME,geometry,LONGITUDE,LATITUDE,AREA_M2
ID,,,,,
1,West Humber-Clairville (1),"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07
2,Mount Olive-Silverstone-Jamestown (2),"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06
3,Thistletown-Beaumond Heights (3),"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06
4,Rexdale-Kipling (4),"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06
5,Elms-Old Rexdale (5),"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06

In [16]:
NB_LL['AREA_M2'].sum()

642965366.2531993

In [17]:
cases_NB=cases.join(NB_LL.drop(columns=['AREA_NAME']))
cases_NB.head()

,Neighborhood,Rate_per_100k,Case,geometry,LONGITUDE,LATITUDE,AREA_M2
ID,,,,,,,
1,West Humber-Clairville,4385.806916,1461,"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07
2,Mount Olive-Silverstone-Jamestown,5192.085938,1711,"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06
3,Thistletown-Beaumond Heights,5347.490347,554,"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06
4,Rexdale-Kipling,3172.191091,334,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06
5,Elms-Old Rexdale,2887.055838,273,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06

In [18]:
cases_NB['RADIUS_M']=np.sqrt(cases_NB['AREA_M2']/np.pi)
cases_NB.head()

,Neighborhood,Rate_per_100k,Case,geometry,LONGITUDE,LATITUDE,AREA_M2,RADIUS_M
ID,,,,,,,,
1,West Humber-Clairville,4385.806916,1461,"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07,3098.897680
2,Mount Olive-Silverstone-Jamestown,5192.085938,1711,"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06,1215.463344
3,Thistletown-Beaumond Heights,5347.490347,554,"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06,1031.425803
4,Rexdale-Kipling,3172.191091,334,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06,893.419807
5,Elms-Old Rexdale,2887.055838,273,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06,966.316063

In [19]:
cases_NB.to_csv('cases_NB')

# Getting Latitude and Longitude Coordinates of Each Neighborhood

In [ ]:
# Install geocoder
#!conda install -c conda-forge geocoder

#Create function get_ll to obtain Latitude and Longitude Coordinates with postalcode
import geocoder # import geocoder

def get_ll (postal_code):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    return [latitude, longitude]

In [ ]:
# Adding two columns for coordinates
postalcode['Latitude'] = np.NaN
postalcode['Longitude'] = np.NaN

In [ ]:
# Adding Latitude and Longitude Coordinates to each row of postalcode dataframe

for index in postalcode.index:
    ll=get_ll(postalcode.at[index, 'PostalCode'])
    postalcode.at[index, 'Latitude']=ll[0]
    postalcode.at[index, 'Longitude']=ll[1]

In [ ]:
postalcode

In [ ]:
# Save to csv file so that we don't need to retrive coordinates everytime 
postalcode.to_csv('postalcode')

# Explore Neighborhoods in Toronto

In [25]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
# Install geopy
#!conda install -c conda-forge geopy --yes
# Install folium
#!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library
import requests # library to handle requests

In [ ]:
# Use geopy library to get the latitude and longitude values of Toronto.

address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

In [23]:
toronto_data=pd.read_csv('cases_NB', index_col=0)
toronto_data

,Neighborhood,Rate_per_100k,Case,geometry,LONGITUDE,LATITUDE,AREA_M2,RADIUS_M
ID,,,,,,,,
1,West Humber-Clairville,4385.806916,1461,"[[-79.55235701287411, 43.7094692811074], [-79....",-79.589871,43.706841,3.016924e+07,3098.897680
2,Mount Olive-Silverstone-Jamestown,5192.085938,1711,"[[-79.6033810657499, 43.7578610616191], [-79.6...",-79.582169,43.748521,4.641235e+06,1215.463344
3,Thistletown-Beaumond Heights,5347.490347,554,"[[-79.5775147918291, 43.7338354191899], [-79.5...",-79.558386,43.737719,3.342149e+06,1031.425803
4,Rexdale-Kipling,3172.191091,334,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.565492,43.725827,2.507616e+06,893.419807
5,Elms-Old Rexdale,2887.055838,273,"[[-79.5551162536014, 43.7151024596992], [-79.5...",-79.547033,43.723417,2.933515e+06,966.316063
...,...,...,...,...,...,...,...,...
136,West Hill,2007.885514,550,"[[-79.2020591387405, 43.7648687113134], [-79.2...",-79.169296,43.768432,9.630983e+06,1750.896067
137,Woburn,2989.623259,1599,"[[-79.2112803465389, 43.7511318767584], [-79.2...",-79.223216,43.765938,1.234171e+07,1982.041793
138,Eglinton East,2493.853179,568,"[[-79.2454914181363, 43.7306038961779], [-79.2...",-79.245677,43.743030,3.225258e+06,1013.228289
139,Scarborough Village,3779.000239,632,"[[-79.2139693758103, 43.72676412748981], [-79....",-79.213974,43.735912,3.152975e+06,1001.809992
140,Guildwood,2531.007361,251,"[[-79.2112803465389, 43.7511318767584], [-79.2...",-79.191659,43.748213,3.806641e+06,1100.768634

In [ ]:
toronto_data['RADIUS_M'][1]

In [ ]:
# create map of Toronto using latitude and longitude values

map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, borough, neighborhood in zip(toronto_data['Latitude'], toronto_data['Longitude'], toronto_data['Borough'], toronto_data['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

In [32]:
# Eneter API credentials and version
CLIENT_ID =  'F0DYMACZXFPLP0ZNQBTNK5DRDXT5AGAQZGH4RQVYS3VR1GZY' # your Foursquare ID
CLIENT_SECRET = 'FGCZMPQ5DUW0SCMYURPFWXXRV5ZHJB2HVV52S54M3GN2PCWS' # your Foursquare Secret
ACCESS_TOKEN = 'ZTYLOKOML1W1C301PXDLWK3OEWAS2T3AUHRKW3S33DP1E4DT' # your FourSquare Access Token
'''CLIENT_ID =  os.environ.get('FOURSQUARE_CLIENT_ID') # your Foursquare ID
CLIENT_SECRET = os.environ.get('FOURSQUARE_CLIENT_SECRET') # your Foursquare Secret
ACCESS_TOKEN = os.environ.get('FOURSQUARE_ACCESS_TOKEN') # your FourSquare Access Token'''
VERSION = '20180604'
LIMIT = 50
'''print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)'''

"print('Your credentails:')\nprint('CLIENT_ID: ' + CLIENT_ID)\nprint('CLIENT_SECRET:' + CLIENT_SECRET)"

In [33]:
# create a function to repeat the same process to all the neighborhoods
def getNearbyVenues(names, latitudes, longitudes, radii):
    
    venues_list=[]
    for name, lat, lng, radius in zip(names, latitudes, longitudes, radii):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [34]:
toronto_venues = getNearbyVenues(names=toronto_data['Neighborhood'],
                                   latitudes=toronto_data['LATITUDE'],
                                   longitudes=toronto_data['LONGITUDE'],
                                 radii = toronto_data['RADIUS_M']
                                  )

West Humber-Clairville
Mount Olive-Silverstone-Jamestown
Thistletown-Beaumond Heights
Rexdale-Kipling
Elms-Old Rexdale
Kingsview Village-The Westway
Willowridge-Martingrove-Richview
Humber Heights-Westmount
Edenbridge-Humber Valley
Princess-Rosethorn
Eringate-Centennial-West Deane
Markland Wood
Etobicoke West Mall
Islington-City Centre West
Kingsway South
Stonegate-Queensway
Mimico (includes Humber Bay Shores)
New Toronto
Long Branch
Alderwood
Humber Summit
Humbermede
Pelmo Park-Humberlea
Black Creek
Glenfield-Jane Heights
Downsview-Roding-CFB
York University Heights
Rustic
Maple Leaf
Brookhaven-Amesbury
Yorkdale-Glen Park
Englemount-Lawrence
Clanton Park
Bathurst Manor
Westminster-Branson
Newtonbrook West
Willowdale West
Lansing-Westgate
Bedford Park-Nortown
St.Andrew-Windfields
Bridle Path-Sunnybrook-York Mills
Banbury-Don Mills
Victoria Village
Flemingdon Park
Parkwoods-Donalda
Pleasant View
Don Valley Village
Hillcrest Village
Bayview Woods-Steeles
Newtonbrook East
Willowdale East
Bayview Village
Henry Farm
O'Connor-Parkview
Thorncliffe Park
Leaside-Bennington
Broadview North
Old East York
Danforth East York
Woodbine-Lumsden
Taylor-Massey
East End-Danforth
The Beaches
Woodbine Corridor
Greenwood-Coxwell
Danforth
Playter Estates-Danforth
North Riverdale
Blake-Jones
South Riverdale
Cabbagetown-South St. James Town
Regent Park
Moss Park
North St. James Town
Church-Yonge Corridor
Bay Street Corridor
Waterfront Communities-The Island
Kensington-Chinatown
University
Palmerston-Little Italy
Trinity-Bellwoods
Niagara
Dufferin Grove
Little Portugal
South Parkdale
Roncesvalles
High Park-Swansea
High Park North
Runnymede-Bloor West Village
Junction Area
Weston-Pelham Park
Corso Italia-Davenport
Dovercourt-Wallace Emerson-Junction
Wychwood
Annex
Casa Loma
Yonge-St.Clair
Rosedale-Moore Park
Mount Pleasant East
Yonge-Eglinton
Forest Hill South
Forest Hill North
Lawrence Park South
Mount Pleasant West
Lawrence Park North
Humewood-Cedarvale
Oakwood Village
Briar Hill-Belgravia
Caledonia-Fairbank
Keelesdale-Eglinton West
Rockcliffe-Smythe
Beechborough-Greenbrook
Weston
Lambton Baby Point
Mount Dennis
Steeles
L'Amoreaux
Tam O'Shanter-Sullivan
Wexford/Maryvale
Clairlea-Birchmount
Oakridge
Birchcliffe-Cliffside
Cliffcrest
Kennedy Park
Ionview
Dorset Park
Bendale
Agincourt South-Malvern West
Agincourt North
Milliken
Rouge
Malvern
Centennial Scarborough
Highland Creek
Morningside
West Hill
Woburn
Eglinton East
Scarborough Village
Guildwood

In [35]:
print(toronto_venues.shape)
toronto_venues.head()

(4630, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,West Humber-Clairville,43.706841,-79.589871,Fortinos,43.721438,-79.596291,Grocery Store
1,West Humber-Clairville,43.706841,-79.589871,Golden Asian,43.711248,-79.565968,Asian Restaurant
2,West Humber-Clairville,43.706841,-79.589871,The Keg Steakhouse + Bar - Dixon Road,43.686329,-79.597353,Restaurant
3,West Humber-Clairville,43.706841,-79.589871,Wally's Grill,43.710736,-79.565881,Diner
4,West Humber-Clairville,43.706841,-79.589871,Alt Hotel Toronto Airport,43.689702,-79.614669,Hotel

In [36]:
toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Agincourt North,50,50,50,50,50,50
Agincourt South-Malvern West,50,50,50,50,50,50
Alderwood,38,38,38,38,38,38
Annex,50,50,50,50,50,50
Banbury-Don Mills,50,50,50,50,50,50
...,...,...,...,...,...,...
Wychwood,50,50,50,50,50,50
Yonge-Eglinton,50,50,50,50,50,50
Yonge-St.Clair,50,50,50,50,50,50
York University Heights,50,50,50,50,50,50
Yorkdale-Glen Park,50,50,50,50,50,50

In [37]:
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 328 uniques categories.

In [38]:
toronto_venues.to_csv('toronto_venues')

# Analyze Each Neighborhood

In [ ]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighborhood'] = toronto_venues['Neighborhood'] 
toronto_onehot.head()

In [ ]:
# get a list of columns
cols = list(toronto_onehot)
# move the Neighborhood column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('Neighborhood')))

In [ ]:
# move neighborhood column to the first column
toronto_onehot = toronto_onehot[cols]

toronto_onehot.head()

In [ ]:
# Group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
toronto_grouped = toronto_onehot.groupby('Neighborhood').mean().reset_index()
toronto_grouped

In [ ]:
# function to sort the venues in descending order
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
# create the new dataframe and display the top 10 venues for each neighborhood.

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = toronto_grouped['Neighborhood']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

# Cluster Neighborhoods

Run _k_-means to cluster the neighborhood into 5 clusters.

In [ ]:
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [ ]:
# set number of clusters
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

In [ ]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood

# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = toronto_data

In [ ]:
# merge manhattan_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

toronto_merged

It seems Foursquare does not have data for 3 neighborhoods (see last three rows below with NaN in "Cluster Labels"). Therefore they need to be dropped

In [ ]:
toronto_merged.sort_values(['Cluster Labels'])

In [ ]:
toronto_merged=toronto_merged.dropna(subset=['Cluster Labels'])
toronto_merged=toronto_merged.astype({'Cluster Labels':'int32'})

In [ ]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [ ]:
# visualize the resulting clusters

# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['Neighborhood'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# Examine Clusters

## Cluster 1

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 0, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 2

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 1, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 3

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 2, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 4

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 3, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]

## Cluster 5

In [ ]:
toronto_merged.loc[toronto_merged['Cluster Labels'] == 4, toronto_merged.columns[[1] + list(range(5, toronto_merged.shape[1]))]]